@model ProBlog.Models.BlogViewModel
@using ProBlog.Helpers
@{
    ViewBag.Title = "Blog | Dmitry Parfenov";
}

<header>
    @Html.Partial("_Categories", Model.Categories)
    <div class="page-header">
        @if (Model.PageInfo.PageNumber == 1)
        {
            <h1>Latest Posts</h1>
        }
        else { <h1>Posts</h1> }
    </div>
</header>
    @if (Model.Posts.Count() > 0)
    {
        foreach (var post in Model.Posts)
        {
            @Html.Partial("_PostTemplate", post)
        }
    }
    else
    {
        <div class="notfound">
            <p><img src="~/Content/images/posts_notfound.png" alt="" itemprop="image">!</p>
        </div>
    }
<div class="box-paging">
    <ul class="pagination">
        @Html.PageLinks(Model.PageInfo, x => Url.Action("List", new { page = x }))
    </ul>
</div>
