@{
    ViewBag.Title = "About me";
}

<header>
    <div class="page-header">
        <h1>Обо мне</h1>
    </div>
</header>
<div class="about">
    <h2>Добро пожаловать в мой блог!</h2>
    <p>Меня зовут Дмитрий, я разработчик программного обеспечения на C# и .NET Framework. 
    Закончил Харьковский университет радиоэлектроники. Я целеустремленный человек, 
    и меня не интересуют мнения хейтеров, людей со сложным представлением о жизни и депрессивных личностях.
        Если ваше мнение отличается от моего - просто найдите другое место для разговора.</p>
     <p>Этот блог призван объединить в своих уютных стенах поклонников всех видов развлекательных статей.<br/>
    <span>Спасибо за внимание!</span></p>
</div>
@*<p class="about-cover"><img src="~/Content/images/cover.png" alt="keep it simple, stupid"></p>*@
