@{
    ViewBag.Title = "About";
}

<header>
    <div class="page-header">
        <h1>About Me</h1>
    </div>
</header>
<div class="about">
    <h2>Welcome to my blog!</h2>
    <p>My name is Dmitry, I'm a software developer in C # and .Net Framework. 
        I graduated from Kharkov University of Radio Electronics. I am a goal-oriented person, 
        and I'm not interested in the opinions of hayters,
        people with a complex view of life and depressive personalities.
        If your opinion is different from mine - just find another place to talk.</p>
     <p>This blog is designed to bring together in its cozy walls fans of all sorts of entertaining articles.<br/>
    <span>Thank you for attention!</span></p>
</div>
@*<p class="about-cover"><img src="~/Content/images/cover.png" alt="keep it simple, stupid"></p>*@
