@{
    ViewBag.Title = "Contacts";
}
<header>
    <div class="page-header">
        <h1>Контакты</h1>
    </div>
</header>
<div class="contacts">
    <p><span>Пиши тут:</span> <a href="https://t.me/SkyWoker777" target="_blank">Мой "Telegram"</a></p>
    <p><span>Реклама:</span> <a href="mailto:skywoker33@hotmail.com" target="_blank">@@hotmail.com</a></p>
</div>